export MERCHANT_NAME="My first Merchant"
export MERCHANT_ID=123456
export MERCHANT_PASSWORD=jupWiThSTiBLIoSPSVJTMWt7RZmyN91B
export CARD_NUMBER=4149123423453456
export DAYS=7
export DEDUP_DIR=run/dedup
