export MERCHANT_NAME="My first Merchant"
export MERCHANT_ID=123456
export MERCHANT_PASSWORD=jupWiThSTiBLIoSPSVJTMWt7RZmyN91B
export CARD_NUMBER=4149123423453456
export DAYS=7
export DEDUP_DIR=run/dedup
export RULES_PATH=run/rules.json
export EXPORT_FORMAT=QIF
export SRC_ACCOUNT_NAME="My Assets:My Bank Account"
export COMISSION_ACCOUNT_NAME="My Expenses:Comissions"
