export MERCHANT_NAME="My first Merchant"

# Transactions fetch settings
export MERCHANT_ID=123456
export MERCHANT_PASSWORD=jupWiThSTiBLIoSPSVJTMWt7RZmyN91B
export CARD_NUMBER=4149123423453456
export DAYS=7

# Processing settings
export DEDUP_DIR=run/dedup
export RULES_PATH=run/rules.json

# Exporting settings
export EXPORT_FORMAT=QIF
export SRC_ACCOUNT_NAME="My Assets:My Bank Account"
export COMISSION_ACCOUNT_NAME="My Expenses:Comissions"

# Slack messaging settings
export SLACK_TOKEN="xoxp-XXXXX-XXXXX-XXXXX-XXXXX"
export SLACK_CHANNEL="DEADBEEF"
